div {
	border: 1px solid black;
	margin: 11px;
}

#div_2 img {
	float: left;
	margin-right: 8px;
}

#div_3 {
	background-color: lightslategrey;
	padding: 10px;
}

.highlighted-div {
	position: absolute;
	top: 105px;
	left: 105px;
	width: 475px;
	height: 475px;
	z-index: 1;
}

